<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= title %></title>
		<link rel="stylesheet" href="/styles/bootstrap.css">
		<style type="text/css" media="screen">
		    .hero-unit {
		    	width: 480px;
		    	margin: 0 auto;
				height: 100%;
				min-height: 649px;
				padding: 60px;
				margin-bottom: 30px;
				font-size: 18px;
				font-weight: 200;
				line-height: 30px;
				text-align: center;
				vertical-align: middle;
				color: inherit;
				background-color: #eeeeee;
				-webkit-border-radius: 6px;
				   -moz-border-radius: 6px;
				        border-radius: 6px;
			}

			.hero-unit h1 {
			  margin-bottom: 0;
			  font-size: 60px;
			  line-height: 1;
			  letter-spacing: -1px;
			  color: inherit;
			}

			.hero-unit ul {
				text-align: left;
			}

			.hero-unit li {
			  line-height: 30px;
			  list-style: none;
			}	
		</style>

		<script type="text/javascript">
			function updateRecord(id, entry){
				$.ajax({
					type: 'PUT',
					url: '/'+id,
					data: {"entry":entry},
					dataType:'json',
					success: function(status){
						window.location.href='/';
					}
				});
			}

			function deleteRecord(id){
				$.ajax({
					type: 'DELETE',
					url: '/'+id,
					dataType:'text',
					success: function(status){
						window.location.href='/';
					}
				});
			}
		</script>
	</head>
	<body>
		<div class="hero-unit">
			<h1>TODO</h1>
			<ul>
				<% todos.forEach(function (todo) { %>

				<li id="<%= todo._id %>">

					<%= todo.entry %>
<!-- 
					<form action="/update/<%= todo._id %>" method="post" accept-charset="utf-8">
						<input type="text" name="entry" placeholder="<%= todo.entry %>">
						<input type="submit" value="Save">
					</form>

					<form action="/delete/<%= todo._id %>" method="post" accept-charset="utf-8">
						<input type="submit" value="Delete">
					</form>
 -->

					<br />
					<input type='text' size='15' value='<%= todo.entry%>' id="<%= todo._id %>">
					<button id="<%= todo._id %>" onclick="updateRecord(<%= todo._id%>, this.value)">Save</button>
					<button id="<%= todo._id %>" onclick="deleteRecord(<%= todo._id %>)">Delete</button>

				</li>

				<% }) %>
			</ul>

			<form action="/" method="post" accept-charset="utf-8">
				<input type="text" name="entry" placeholder="enter todos">
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>











